.container {
  padding:10px 30px 30px 30px;
  margin:10px;
  border:solid white 1px;
  border-radius:5px;
  /*background-color:#fff000;*/
  text-align:left;
}

.btn-success, .btn-danger {
  width:200px;
}
